assets/sfn/dr_failover.json
{
    "Comment": "DR Failover State Machine",
    "StartAt": "InitializeFailover",
    "States": {
        "InitializeFailover": {
            "Type": "Task",
            "Resource": "${InitializeFailoverFunctionArn}",
            "Next": "ParallelOperations",
            "ResultPath": "$.params"
        },
        "ParallelOperations": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "PromoteRDSReplica",
                    "States": {
                        "PromoteRDSReplica": {
                            "Type": "Task",
                            "Resource": "${FailoverOperationsFunctionArn}",
                            "Parameters": {
                                "params.$": "$.params",
                                "operation": "PROMOTE_RDS_REPLICA"
                            },
                            "Next": "WaitForRDSPromotion",
                            "ResultPath": "$.rds_promotion"
                        },
                        "WaitForRDSPromotion": {
                            "Type": "Wait",
                            "Seconds": 30,
                            "Next": "CheckRDSStatus"
                        },
                        "CheckRDSStatus": {
                            "Type": "Task",
                            "Resource": "${FailoverOperationsFunctionArn}",
                            "Parameters": {
                                "params.$": "$.params",
                                "operation": "CHECK_RDS_STATUS",
                                "promotion.$": "$.rds_promotion"
                            },
                            "Next": "IsRDSPromoted",
                            "ResultPath": "$.rds_status"
                        },
                        "IsRDSPromoted": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.rds_status.is_available",
                                    "BooleanEquals": true,
                                    "Next": "UpdateASGConfiguration"
                                }
                            ],
                            "Default": "WaitForRDSPromotion"
                        },
                        "UpdateASGConfiguration": {
                            "Type": "Task",
                            "Resource": "${FailoverOperationsFunctionArn}",
                            "Parameters": {
                                "params.$": "$.params",
                                "operation": "UPDATE_ASG"
                            },
                            "Next": "WaitForASGUpdate",
                            "ResultPath": "$.asg_update"
                        },
                        "WaitForASGUpdate": {
                            "Type": "Wait",
                            "Seconds": 30,
                            "Next": "CheckASGStatus"
                        },
                        "CheckASGStatus": {
                            "Type": "Task",
                            "Resource": "${FailoverOperationsFunctionArn}",
                            "Parameters": {
                                "params.$": "$.params",
                                "operation": "CHECK_ASG_STATUS",
                                "asg_update.$": "$.asg_update"
                            },
                            "Next": "IsASGReady",
                            "ResultPath": "$.asg_status"
                        },
                        "IsASGReady": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.asg_status.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "RDSAndASGComplete"
                                }
                            ],
                            "Default": "WaitForASGUpdate"
                        },
                        "RDSAndASGComplete": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "HandleS3Failover",
                    "States": {
                        "HandleS3Failover": {
                            "Type": "Task",
                            "Resource": "${FailoverOperationsFunctionArn}",
                            "Parameters": {
                                "params.$": "$.params",
                                "operation": "S3_FAILOVER"
                            },
                            "End": true
                        }
                    }
                }
            ],
            "Next": "EnableSSMSync",
            "ResultPath": "$.parallel_results",
            "OutputPath": "$"
        },
        "EnableSSMSync": {
            "Type": "Task",
            "Resource": "${FailoverOperationsFunctionArn}",
            "Parameters": {
                "params.$": "$.params",
                "operation": "ENABLE_SSM_SYNC"
            },
            "Next": "FailoverComplete",
            "ResultPath": "$.ssm_sync_result"
        },
        "FailoverComplete": {
            "Type": "Succeed"
        }
    }
}
